.Map{
    display:grid;
    grid-column: auto;
    grid-row: auto;
    margin: 25px;
    width: auto;
    height: auto;
    justify-content: space-between;
    border-style: solid;
    border: black;
}

td{
    border: black;
    border-style: solid;
    padding: 25px;
    width: 50px;
    height: 50px;
}




.black{
background-color: black;
}

.white{
background-color: white;
}







  